# `opencadd.databases.klifs` API

This notebook proposes an updated object-oriented API (skeleton only!) for the `opencadd.databases.klifs` module.

## Module structure

opencadd/
    databases/
        klifs/
            api.py
            remote.py
            local.py
            core.py
            utils.py

## Set up session (remote and local)

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opencadd.databases.klifs_new.api import setup_remote, setup_local

In [3]:
# Work with remote KLIFS data
remote = setup_remote()

# Work with local KLIFS data
local = setup_local("../../opencadd/tests/databases/data/KLIFS_download")

In [4]:
print(remote.session_type)
remote.client

remote

SwaggerClient(http://klifs.vu-compmedchem.nl/api)

In [5]:
print(local.session_type)
local.database

local

,species.klifs,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.pdb,ligand.pdb_allosteric,structure.rmsd1,structure.rmsd2,structure.qualityscore,kinase.pocket,structure.resolution,structure.missing_residues,structure.missing_atoms,structure.ifp,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v,kinase.name_all,kinase.family,kinase.group,ligand.name,ligand.name_allosteric,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.40,4,0,0000000000000010000001000000000000000000000000...,0,0,1,1,0,0,0,0,0,0,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
1,Human,BRAF,6uuo,-,A,QH1,-,0.806,2.028,5.2,QRI____FGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...,3.29,7,61,0000000000000000000000000000000000000000000000...,0,0,1,1,1,1,0,0,0,0,0,0,[BRAF],RAF,TKL,1-[4-{[1-(3-{[dihydroxy(propyl)-lambda~4~-sulf...,-,in,out-like,KLIFS_download/HUMAN/BRAF/6uuo_chainA
2,Mouse,ABL1,1fpu,-,A,PRC,-,0.925,2.319,8.8,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,0,8,0000000000000010000000000000000000000000000000...,0,0,1,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainA
3,Mouse,ABL1,1fpu,-,B,PRC,-,0.925,2.329,9.2,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,0,4,0000000000000010000000000000000000000000000000...,0,0,0,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainB

In [6]:
local.database.columns

Index(['species.klifs', 'kinase.name', 'structure.pdb',
       'structure.alternate_model', 'structure.chain', 'ligand.pdb',
       'ligand.pdb_allosteric', 'structure.rmsd1', 'structure.rmsd2',
       'structure.qualityscore', 'kinase.pocket', 'structure.resolution',
       'structure.missing_residues', 'structure.missing_atoms',
       'structure.ifp', 'structure.fp_i', 'structure.fp_ii',
       'structure.bp_i_a', 'structure.bp_i_b', 'structure.bp_ii_in',
       'structure.bp_ii_a_in', 'structure.bp_ii_b_in', 'structure.bp_ii_out',
       'structure.bp_ii_b', 'structure.bp_iii', 'structure.bp_iv',
       'structure.bp_v', 'kinase.name_all', 'kinase.family', 'kinase.group',
       'ligand.name', 'ligand.name_allosteric', 'structure.dfg',
       'structure.ac_helix', 'filepath'],
      dtype='object')

## Kinases

Try out functionalities to request kinase data. Show remote and local access in parallel.

### All kinase groups

In [7]:
remote.kinases.all_kinase_groups()

  kinase.group
0          AGC
1         CAMK
2          CK1
3         CMGC
4        Other
5          STE
6           TK
7          TKL

In [8]:
local.kinases.all_kinase_groups()

  kinase.group
0           TK
1          TKL

### All kinase families

In [9]:
print(remote.kinases.all_kinase_families().shape)
remote.kinases.all_kinase_families().head()

(144, 1)

  kinase.family
0            A6
1          ABC1
2           AKT
3           ALK
4           AUR

In [10]:
print(local.kinases.all_kinase_families().shape)
local.kinases.all_kinase_families().head()

(3, 1)

  kinase.family
0           Tec
1           RAF
2           Abl

### All kinase families in a kinase group

In [11]:
print(remote.kinases.all_kinase_families(group='TK').shape)
remote.kinases.all_kinase_families(group='TK').head()

(31, 1)

  kinase.family
0           ALK
1           Abl
2           Ack
3           Alk
4           Axl

In [12]:
print(local.kinases.all_kinase_families(group='TK').shape)
local.kinases.all_kinase_families(group='TK').head()

(3, 1)

  kinase.family
0           Tec
1           RAF
2           Abl

### All kinase families in a non-existing kinase group

In [13]:
remote.kinases.all_kinase_families(group='XXX')

Expected type to be dict for value [400, 'KLIFS error: A provided group does not exist.'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [14]:
local.kinases.all_kinase_families('XXX')

Kinase group XXX not known in local dataset.

### All kinase names

In [15]:
print(remote.kinases.all_kinases().shape)
remote.kinases.all_kinases().head()

(1127, 4)

   kinase.id    kinase.name            kinase.name_full species.klifs
0        813  4921509C19Rik  RIKEN cDNA 4921509C19 gene         Mouse
1        815  4921509C19Rik  RIKEN cDNA 4921509C19 gene         Mouse
2        814  4921509C19Rik  RIKEN cDNA 4921509C19 gene         Mouse
3        531           Aak1     AP2 associated kinase 1         Mouse
4        277           AAK1     AP2 associated kinase 1         Human

In [16]:
local.kinases.all_kinases()

  kinase.name species.klifs
0         BMX         Human
1        BRAF         Human
2        ABL1         Mouse

In [17]:
remote.kinases.all_kinases(group='TK', family='Tec', species="Mouse")

,kinase.id,kinase.name,kinase.name_full,species.klifs
0,574,Bmx,BMX non-receptor tyrosine kinase,Mouse
1,583,Btk,Bruton agammaglobulinemia tyrosine kinase,Mouse
2,739,Itk,IL2 inducible T cell kinase,Mouse
3,1008,Tec,tec protein tyrosine kinase,Mouse
4,1039,Txk,TXK tyrosine kinase,Mouse

In [18]:
local.kinases.all_kinases(family="Abl", species="Mouse")

  kinase.name species.klifs
2        ABL1         Mouse

In [19]:
remote.kinases.all_kinases(group='XXX')

Expected type to be dict for value [400, 'KLIFS error: A provided group does not exist.'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [20]:
local.kinases.all_kinases(group='XXX')

No query results: One or more input parameter values or the combination thereof are invalid or not in the dataset.

### Kinase by kinase ID

In [21]:
remote.kinases.from_kinase_ids(33)

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species.klifs,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,33,PKCa,PRKCA,PKC,AGC,Alpha,Human,protein kinase C alpha,P17252,1482,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...

In [22]:
remote.kinases.from_kinase_ids(10000)

Expected type to be dict for value [400, 'KLIFS error: An unknown kinase ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [23]:
remote.kinases.from_kinase_ids([1,2,10000])

Expected type to be dict for value [400, 'KLIFS error: An unknown kinase ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

### Kinase by kinase name

In [24]:
remote.kinases.from_kinase_names('BMX')

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species.klifs,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,574,BMX,Bmx,Tec,TK,,Mouse,BMX non-receptor tyrosine kinase,P97504,0,KELGNGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
1,472,BMX,BMX,Tec,TK,,Human,BMX non-receptor tyrosine kinase,P51813,1942,KELGSGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...

In [25]:
local.kinases.from_kinase_names('BMX')

  kinase.name species.klifs
0         BMX         Human

In [26]:
remote.kinases.from_kinase_names(['BMX', 'BRAF'])

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species.klifs,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,574,BMX,Bmx,Tec,TK,,Mouse,BMX non-receptor tyrosine kinase,P97504,0,KELGNGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
1,472,BMX,BMX,Tec,TK,,Human,BMX non-receptor tyrosine kinase,P51813,1942,KELGSGQFGVVQLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...
2,509,BRAF,BRAF,RAF,TKL,RAF,Human,"B-Raf proto-oncogene, serine/threonine kinase",P15056,1943,QRIGSGSFGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...
3,575,BRAF,Braf,RAF,TKL,,Mouse,Braf transforming gene,P28028,0,QRIGSGSFGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...

In [27]:
local.kinases.from_kinase_names(['BMX', 'BRAF'])

  kinase.name species.klifs
0         BMX         Human
1        BRAF         Human

In [28]:
remote.kinases.from_kinase_names(['YYY', 'XXX'])

Kinase name YYY: Expected type to be dict for value [400, 'KLIFS error: An unknown kinase name was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.
Kinase name XXX: Expected type to be dict for value [400, 'KLIFS error: An unknown kinase name was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [29]:
local.kinases.from_kinase_names(['YYY', 'XXX'])

No query results: One or more input parameter values or the combination thereof are invalid or not in the dataset.

### Kinases by kinase names and species

In [30]:
remote.kinases.from_kinase_names(['ABL1', 'NIK'], 'Mouse')

,kinase.id,kinase.name,kinase.hgnc,kinase.family,kinase.group,kinase.class,species.klifs,kinase.name_full,kinase.uniprot,kinase.iuphar,kinase.pocket
0,532,ABL1,Abl1,Abl,TK,,Mouse,"c-abl oncogene 1, non-receptor tyrosine kinase",P00520,0,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...
1,861,NIK,Map3k14,STE-Unique,STE,,Mouse,mitogen-activated protein kinase kinase kinase 14,Q9WUL6,0,PRVGRGSFGEVHRCAVKKVFRVEELVACAGLSPRIVPLYGANIFME...

In [31]:
local.kinases.from_kinase_names(['ABL1', 'NIK'], 'Mouse')

  kinase.name species.klifs
2        ABL1         Mouse

## Ligands

### All ligands

In [32]:
remote.ligands.all_ligands()

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey
0,1,IHZ,5-[(2-methyl-5-{[3-(trifluoromethyl)phenyl]car...,FC(F)(F)c1cc(NC(=O)c2cc(Nc3cncc(c3)C(=O)N)c(cc...,SAAYRHKJHDIDPH-UHFFFAOYSA-N
1,2,477,"3-{2-[5-(difluoromethyl)-2H-thieno[3,2-c]pyraz...",S1C=2C(=NNC2C=C1C(F)F)C=3Nc4c(ccc(c4)C(O)(CC)C...,CQZZZUNOWZUNNG-UHFFFAOYSA-N
2,3,G6K,"1-[(3S)-3-{[4-(morpholin-4-ylmethyl)-6-([1,3]t...",S1c2ncccc2N=C1Nc3nc(nc(c3)CN4CCOCC4)N[C@@H]5CN...,JSHRNKDQLCOTRI-HNNXBMFYSA-N
3,4,G5K,"1-[(3S)-3-{[4-(morpholin-4-ylmethyl)-6-([1,3]t...",S1c2ncccc2N=C1Nc3nc(nc(c3)CN4CCOCC4)N[C@@H]5CN...,LZANMDGKZJPQIB-HNNXBMFYSA-N
4,5,B49,N-[2-(diethylamino)ethyl]-5-[(Z)-(5-fluoro-2-o...,Fc1cc\2c(NC(=O)/C2=C\C=3NC(=C(C(=O)NCCN(CC)CC)...,WINHZLLDWRZWRT-ATVHPVEESA-N
...,...,...,...,...,...
3522,3811,R7D,N~2~-{(2R)-2-hydroxy-2-[4-(trifluoromethyl)phe...,O[C@@H](C(=O)N[C@@H](CS)C(=O)NCc1ccccn1)c2ccc(...,MMSMEDXVHMERGZ-LSDHHAIUSA-N
3523,3812,OQ8,~{N}-[4-[(4-ethylpiperazin-1-yl)methyl]-3-(tri...,FC(F)(F)c1c(ccc(NC(=O)c2cc(Oc3nc(ncc3)N[C@@H]4...,InChI not available
3524,3813,OQ2,~{N}-[4-[(4-ethylpiperazin-1-yl)methyl]-3-(tri...,FC(F)(F)c1c(ccc(NC(=O)c2cc(Oc3nc(ncc3)N[C@H]4C...,InChI not available
3525,3814,IHH,[4-({4-[(5-cyclopropyl-1H-pyrazol-3-yl)amino]q...,N#CCc1ccc(Nc2nc(NC3=NNC(=C3)C4CC4)c5c(n2)cccc5...,InChI not available
3526,3815,V3S,"(2R)-N-{6-[4-(propan-2-yl)-4H-1,2,4-triazol-3-...",O=C(Nc1nc(ccc1)C2=NN=CN2C(C)C)[C@@H]3OCCCC3,InChI not available

In [33]:
local.ligands.all_ligands()

  ligand.pdb                                        ligand.name
0        1N1  N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...
1        QH1  1-[4-{[1-(3-{[dihydroxy(propyl)-lambda~4~-sulf...
2        PRC  N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...

### Ligands from kinase ID(s)

In [34]:
remote.ligands.from_kinase_ids(33)

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey,kinase.id (query)
0,920,LW4,3-(1H-indol-3-yl)-4-[2-(4-methylpiperazin-1-yl...,O=C1NC(=O)C(=C1c2nc(nc3c2cccc3)N4CCN(CC4)C)C=5...,OAVGBZOFDPFGPJ-UHFFFAOYSA-N,33
1,921,3KZ,"(1R)-9-[(3S,4S)-1,3-dimethylpiperidin-4-yl]-8-...",Fc1c(c2c(cc3N4C(=NNC(=O)[C@H]4C)COc3c2)[C@@H]5...,BLWOBXIQFDYTRF-OAGGEKHMSA-N,33

In [35]:
remote.ligands.from_kinase_ids([33, 34])

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey,kinase.id (query)
0,920,LW4,3-(1H-indol-3-yl)-4-[2-(4-methylpiperazin-1-yl...,O=C1NC(=O)C(=C1c2nc(nc3c2cccc3)N4CCN(CC4)C)C=5...,OAVGBZOFDPFGPJ-UHFFFAOYSA-N,33
1,921,3KZ,"(1R)-9-[(3S,4S)-1,3-dimethylpiperidin-4-yl]-8-...",Fc1c(c2c(cc3N4C(=NNC(=O)[C@H]4C)COc3c2)[C@@H]5...,BLWOBXIQFDYTRF-OAGGEKHMSA-N,33
0,759,PDS,3-{1-[3-(DIMETHYLAMINO)PROPYL]-2-METHYL-1H-IND...,O=C1NC(=O)C(C=2c3c(NC2C)cccc3)=C1C=4c5c(N(C4C)...,OHIVGFJSFMOMNC-UHFFFAOYSA-N,34

In [36]:
remote.ligands.from_kinase_ids(574)

Kinase ID 574: Expected type to be dict for value [400, 'KLIFS error: The provided kinase ID(s) is/are invalid'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.
No query results: One or more input parameter values or the combination thereof are invalid or not in the dataset.

### Ligands from kinase name(s)

In [37]:
remote.ligands.from_kinase_names("EGFR")

Kinase ID 574: Expected type to be dict for value [400, 'KLIFS error: The provided kinase ID(s) is/are invalid'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey,kinase.id (query),kinase.name (query),species.klifs (query)
0,281,1N1,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,Clc1c(NC(=O)C=2SC(=NC2)Nc3nc(nc(N4CCN(CCO)CC4)...,ZBNZXTGUTAYRHI-UHFFFAOYSA-N,472,BMX,Human
1,632,PP2,1-TERT-BUTYL-3-(4-CHLORO-PHENYL)-1H-PYRAZOLO[3...,Clc1ccc(cc1)C2=[NH+]N(c3ncnc(N)c32)C(C)(C)C,PBBRWFOVCUAONR-UHFFFAOYSA-O,472,BMX,Human
2,3716,H88,~{N}-[2-methyl-5-[8-[4-(methylsulfonylamino)ph...,S(=O)(=O)(Nc1ccc(c2cc3ncc4c(N(c5cc(NC(=O)CCO)c...,InChI not available,472,BMX,Human

In [38]:
local.ligands.from_kinase_names("ABL1")

,ligand.pdb,ligand.name,kinase.name (query),species.klifs (query)
0,PRC,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,ABL1,Mouse

In [39]:
remote.ligands.from_kinase_names(["EGFR", "BMX"])

Kinase ID 574: Expected type to be dict for value [400, 'KLIFS error: The provided kinase ID(s) is/are invalid'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey,kinase.id (query),kinase.name (query),species.klifs (query)
0,281,1N1,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,Clc1c(NC(=O)C=2SC(=NC2)Nc3nc(nc(N4CCN(CCO)CC4)...,ZBNZXTGUTAYRHI-UHFFFAOYSA-N,472,BMX,Human
1,632,PP2,1-TERT-BUTYL-3-(4-CHLORO-PHENYL)-1H-PYRAZOLO[3...,Clc1ccc(cc1)C2=[NH+]N(c3ncnc(N)c32)C(C)(C)C,PBBRWFOVCUAONR-UHFFFAOYSA-O,472,BMX,Human
2,3716,H88,~{N}-[2-methyl-5-[8-[4-(methylsulfonylamino)ph...,S(=O)(=O)(Nc1ccc(c2cc3ncc4c(N(c5cc(NC(=O)CCO)c...,InChI not available,472,BMX,Human

In [40]:
local.ligands.from_kinase_names(["ABL1", "BMX"])

,ligand.pdb,ligand.name,kinase.name (query),species.klifs (query)
0,1N1,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,BMX,Human
1,PRC,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,ABL1,Mouse

### Ligands from ligand ID(s)

In [41]:
remote.ligands.from_ligand_ids(33)

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey
32,33,MJG,N-[5-({5-[(4-acetylpiperazin-1-yl)carbonyl]-4-...,S(c1c(cc(OC)c(c1)C(=O)N2CCN(C(=O)C)CC2)C)C=3SC...,ZHXNIYGJAOPMSO-NRFANRHFSA-N

In [42]:
remote.ligands.from_ligand_ids([33, 300, 400000000])

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey
32,33,MJG,N-[5-({5-[(4-acetylpiperazin-1-yl)carbonyl]-4-...,S(c1c(cc(OC)c(c1)C(=O)N2CCN(C(=O)C)CC2)C)C=3SC...,ZHXNIYGJAOPMSO-NRFANRHFSA-N
299,300,057,"N-(2-hydroxy-1,1-dimethylethyl)-1-methyl-3-(1H...",O=C(NC(CO)(C)C)c1cc2c(N(C=C2C=3Nc4ncccc4C3)C)cc1,XZRYCTLOGNCQDG-UHFFFAOYSA-N

### Ligands from ligand PDB ID(s)

In [43]:
remote.ligands.from_ligand_pdbs("STI")

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey
47,48,STI,4-(4-METHYL-PIPERAZIN-1-YLMETHYL)-N-[4-METHYL-...,O=C(Nc1cc(Nc2nc(c3cnccc3)ccn2)c(cc1)C)c4ccc(cc...,KTUFNOKKBVMGRW-UHFFFAOYSA-N

In [44]:
local.ligands.from_ligand_pdbs("PRC")

  ligand.pdb                                        ligand.name
0        PRC  N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...

In [45]:
remote.ligands.from_ligand_pdbs("XXX")

Empty DataFrame
Columns: [ligand.id, ligand.pdb, ligand.name, ligand.smiles, ligand.inchikey]
Index: []

In [46]:
local.ligands.from_ligand_pdbs("XXX")

Empty DataFrame
Columns: [ligand.pdb, ligand.name]
Index: []

In [47]:
remote.ligands.from_ligand_pdbs(["STI", "STU"])

,ligand.id,ligand.pdb,ligand.name,ligand.smiles,ligand.inchikey
27,28,STU,STAUROSPORINE,O=C1NCc2c3c4N(c5c3cccc5)[C@]6(O[C@@H](N7c4c(c8...,HKSZLNNOFSGOKW-FYTWVXJKSA-N
47,48,STI,4-(4-METHYL-PIPERAZIN-1-YLMETHYL)-N-[4-METHYL-...,O=C(Nc1cc(Nc2nc(c3cnccc3)ccn2)c(cc1)C)c4ccc(cc...,KTUFNOKKBVMGRW-UHFFFAOYSA-N

In [48]:
local.ligands.from_ligand_pdbs(["PRC", "STU"])

  ligand.pdb                                        ligand.name
0        PRC  N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...

## Structures

### All structures

In [49]:
remote.structures.all_structures()

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
0,2533,AKT1,Human,1,3ow4,,B,0.780,2.104,KLLGKGTFGKVILYAMKILHTLTENRVLQNSRPFLTALKYSCFVME...,2.60,8.0,0,0,SMY,0,in,in,19.1640,61.7818,50.6247,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,2532,AKT1,Human,1,3mv5,B,A,0.779,2.092,KLLGKGTFGKVILYAMKILHTLTENRVLQNSRPFLTALKYSCFVME...,2.47,8.0,0,0,XFE,0,in,in,17.3969,57.0919,55.1666,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,10437,AKT1,Human,1,6c0i,B,B,0.776,2.091,KLLGKGTFGKVILYAMKILHTLTENRVLQNSRPFLTALKYSCFVME...,2.40,8.0,0,0,0,0,in,in,17.9011,59.5948,60.8725,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,2542,AKT1,Human,1,4ejn,,A,0.950,2.319,KLLGKGTFGKVILYAMKIL_______VLQNSRPFLTALKYSCFVME...,2.19,4.4,7,22,0,0R4,out,na,18.9798,65.3415,56.1927,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,10914,AKT1,Human,1,6hhj,,A,0.977,2.648,KLLGKGTFGKVILYAMKILHTLTENRVLQNSRPFLTALKYSCFVME...,2.30,6.8,0,0,G4H,0,out,out,20.4394,68.7584,59.0980,False,False,True,False,False,False,False,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,9097,PI4K2B,Human,1091,4wtv,A,B,1.554,3.041,ERIS___SGSYFVGVFKPKGYLSEAGAYLVDNSIVPKTKVVGSFQL...,1.90,8.2,3,2,ATP,0,in,in,0.0000,0.0000,0.0000,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11373,9095,PI4K2B,Human,1091,4wtv,A,A,1.554,3.088,ERISQGSSGSYFVGVFKPKGYLSEAGAYLVDNSIVPKTKVVGSFQL...,1.90,8.9,0,7,ATP,0,in,in,19.2476,61.8136,21.5262,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11374,9096,PI4K2B,Human,1091,4wtv,B,B,1.554,3.041,ERIS___SGSYFVGVFKPKGYLSEAGAYLVDNSIVPKTKVVGSFQL...,1.90,8.2,3,2,ATP,0,in,in,0.0000,0.0000,0.0000,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11375,9070,PI4KA,Human,1096,6bq1,,A,1.704,2.676,_PMQSAAKAPYLAAIFKVGDCRQDMLALQIIDLFVFPYRVVCGVIE...,0.00,6.8,2,0,E4S,0,in,in,18.3243,58.9635,131.1870,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
11376,9069,PI4KA,Human,1096,6bq1,,E,1.699,2.670,_PMQSAAKAPYLAAIFKVGDCRQDMLALQIIDLFVFPYRVVCGVIE...,0.00,6.8,2,0,E4S,0,in,in,18.1686,58.6454,136.5030,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False

In [50]:
local.structures.all_structures()

,species.klifs,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.pdb,ligand.pdb_allosteric,structure.rmsd1,structure.rmsd2,structure.qualityscore,kinase.pocket,structure.resolution,structure.missing_residues,structure.missing_atoms,structure.ifp,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v,kinase.name_all,kinase.family,kinase.group,ligand.name,ligand.name_allosteric,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.40,4,0,0000000000000010000001000000000000000000000000...,0,0,1,1,0,0,0,0,0,0,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
1,Human,BRAF,6uuo,-,A,QH1,-,0.806,2.028,5.2,QRI____FGTVYKVAVKMLAFKNEVGVLRKTRVNILLFMGYAIVTQ...,3.29,7,61,0000000000000000000000000000000000000000000000...,0,0,1,1,1,1,0,0,0,0,0,0,[BRAF],RAF,TKL,1-[4-{[1-(3-{[dihydroxy(propyl)-lambda~4~-sulf...,-,in,out-like,KLIFS_download/HUMAN/BRAF/6uuo_chainA
2,Mouse,ABL1,1fpu,-,A,PRC,-,0.925,2.319,8.8,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,0,8,0000000000000010000000000000000000000000000000...,0,0,1,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainA
3,Mouse,ABL1,1fpu,-,B,PRC,-,0.925,2.329,9.2,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,0,4,0000000000000010000000000000000000000000000000...,0,0,0,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainB

### Structures from structure ID(s)

In [51]:
remote.structures.from_structure_ids([33, 34])

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
0,33,ITK,Human,474,1snu,,B,0.746,2.124,QEIGSGQFGLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,2.50,6.0,4,0,STU,0,na,na,16.4813,53.1351,50.7870,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False
1,34,ITK,Human,474,4mf1,B,A,0.845,2.053,QEIGSG__GLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,2.11,6.8,3,0,29Y,0,in,out-like,16.6972,53.7816,53.3433,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [52]:
remote.structures.from_structure_ids(10000000)

Structure ID [10000000]: Expected type to be dict for value [400, 'KLIFS error: An unknown ligand ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

### Structures from ligand ID(s)

In [53]:
remote.structures.from_ligand_ids(33)

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
9367,67,ITK,Human,474,3mj2,,A,0.817,2.15,QEIGSGQFGLVHLVAIKTIDFIEEAEVMMKLSPKLVQLYGVCLVFE...,1.9,8.0,0,0,MJG,0,in,out,16.5462,55.3908,70.1989,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Structures from kinase ID(s)

In [54]:
remote.structures.from_kinase_ids([33, 34])

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
0,3039,PKCa,Human,33,3iw4,,B,0.783,2.105,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...,2.80,8.0,0,0,LW4,0,in,in,15.8616,50.9131,42.2912,True,True,False,True,False,False,True,False,False,False,False,False,False,False,False
1,3041,PKCa,Human,33,3iw4,,A,0.787,2.105,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...,2.80,8.0,0,0,LW4,0,in,in,15.9173,50.9386,42.0323,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,3040,PKCa,Human,33,4ra4,,A,0.783,2.099,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...,2.63,9.6,0,4,3KZ,0,in,in,18.3364,58.4885,39.9209,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,3042,PKCa,Human,33,3iw4,,C,0.784,2.107,MVLGKGSFGKVMLYAIKILCTMVEKRVLALLDPFLTQLHSCYFVME...,2.80,8.0,0,0,LW4,0,in,in,15.9378,51.5975,39.9925,True,True,False,False,False,False,True,False,False,False,False,False,False,False,False
4,2549,PKCb,Human,34,2i0e,,B,0.787,2.118,MVLGKGSFGKVMLYAVKILCTMVEKRVLALPGPFLTQLHSCYFVME...,2.60,8.0,0,0,PDS,0,in,in,16.5380,53.7560,31.1290,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5,2550,PKCb,Human,34,2i0e,,A,0.786,2.111,MVLGKGSFGKVMLYAVKILCTMVEKRVLALPGPFLTQLHSCYFVME...,2.60,8.0,0,0,PDS,0,in,in,16.9550,55.0916,41.7929,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [55]:
remote.structures.from_kinase_ids(10000)

Kinase ID [10000]: Expected type to be dict for value [400, 'KLIFS error: An unknown kinase ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

### Structures from structure PDB ID(s)

In [56]:
remote.structures.from_structure_pdbs("xxxx")

Structure PDB ['xxxx']: Expected type to be dict for value [400, 'KLIFS error: An unknown ligand ID was provided'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [57]:
local.structures.from_structure_pdbs("xxxx")

Empty DataFrame
Columns: [species.klifs, kinase.name, structure.pdb, structure.alternate_model, structure.chain, ligand.pdb, ligand.pdb_allosteric, structure.rmsd1, structure.rmsd2, structure.qualityscore, kinase.pocket, structure.resolution, structure.missing_residues, structure.missing_atoms, structure.ifp, structure.fp_i, structure.fp_ii, structure.bp_i_a, structure.bp_i_b, structure.bp_ii_in, structure.bp_ii_a_in, structure.bp_ii_b_in, structure.bp_ii_out, structure.bp_ii_b, structure.bp_iii, structure.bp_iv, structure.bp_v, kinase.name_all, kinase.family, kinase.group, ligand.name, ligand.name_allosteric, structure.dfg, structure.ac_helix, filepath]
Index: []

In [58]:
remote.structures.from_structure_pdbs(["3sxr", "1fpu", "xxxx"])

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
0,5705,ABL1,Mouse,532,1fpu,,B,0.925,2.329,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,9.2,0,4,PRC,0,out,out,15.3329,51.0939,49.2289,True,True,True,False,False,False,True,False,False,False,True,False,False,False,False
1,5728,ABL1,Mouse,532,1fpu,,A,0.925,2.319,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,8.8,0,8,PRC,0,out,out,16.1554,54.1402,48.7414,True,True,True,False,False,True,True,False,False,False,True,False,False,False,False
2,3481,BMX,Human,472,3sxr,,B,0.839,1.946,KEL______VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.4,5.6,6,0,1N1,0,out-like,in,0.0000,0.0000,0.0000,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False
3,3482,BMX,Human,472,3sxr,,A,0.839,1.967,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.4,6.4,4,0,1N1,0,out-like,in,0.0000,0.0000,0.0000,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False

In [59]:
local.structures.from_structure_pdbs(["3sxr", "1fpu", "xxxx"])

,species.klifs,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.pdb,ligand.pdb_allosteric,structure.rmsd1,structure.rmsd2,structure.qualityscore,kinase.pocket,structure.resolution,structure.missing_residues,structure.missing_atoms,structure.ifp,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v,kinase.name_all,kinase.family,kinase.group,ligand.name,ligand.name_allosteric,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.4,4,0,0000000000000010000001000000000000000000000000...,0,0,1,1,0,0,0,0,0,0,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
2,Mouse,ABL1,1fpu,-,A,PRC,-,0.925,2.319,8.8,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,8,0000000000000010000000000000000000000000000000...,0,0,1,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainA
3,Mouse,ABL1,1fpu,-,B,PRC,-,0.925,2.329,9.2,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,4,0000000000000010000000000000000000000000000000...,0,0,0,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainB

### Structures from ligand PDB ID(s)

In [60]:
remote.structures.from_ligand_pdbs("XXX")

Empty DataFrame
Columns: [structure.id, kinase.name, species.klifs, kinase.id, structure.pdb, structure.alternate_model, structure.chain, structure.rmsd1, structure.rmsd2, kinase.pocket, structure.resolution, structure.qualityscore, structure.missing_residues, structure.missing_atoms, ligand.pdb, ligand.name_allosteric, structure.dfg, structure.ac_helix, structure.grich_distance, structure.grich_angle, structure.grich_rotation, structure.front, structure.gate, structure.back, structure.fp_i, structure.fp_ii, structure.bp_i_a, structure.bp_i_b, structure.bp_ii_in, structure.bp_ii_a_in, structure.bp_ii_b_in, structure.bp_ii_out, structure.bp_ii_b, structure.bp_iii, structure.bp_iv, structure.bp_v]
Index: []

In [61]:
local.structures.from_ligand_pdbs("XXX")

Empty DataFrame
Columns: [species.klifs, kinase.name, structure.pdb, structure.alternate_model, structure.chain, ligand.pdb, ligand.pdb_allosteric, structure.rmsd1, structure.rmsd2, structure.qualityscore, kinase.pocket, structure.resolution, structure.missing_residues, structure.missing_atoms, structure.ifp, structure.fp_i, structure.fp_ii, structure.bp_i_a, structure.bp_i_b, structure.bp_ii_in, structure.bp_ii_a_in, structure.bp_ii_b_in, structure.bp_ii_out, structure.bp_ii_b, structure.bp_iii, structure.bp_iv, structure.bp_v, kinase.name_all, kinase.family, kinase.group, ligand.name, ligand.name_allosteric, structure.dfg, structure.ac_helix, filepath]
Index: []

In [62]:
remote.structures.from_ligand_pdbs(["PRC", "1N1"]).head()

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
4756,5018,p38a,Human,249,3lfa,,A,0.765,2.173,SPVGS__YGSVCAVAVKKLRTYRELRLLKHMKENVIGLLDVYLVTH...,2.10,6.1,5,15,1N1,0,na,na,0.0000,0.0000,0.0000,True,True,True,False,False,True,True,False,False,False,False,False,False,False,False
5929,8339,MYT1,Human,334,5vcv,,A,0.775,2.104,SRLGHGSYGEVFKYAVKRSRKLAEVGSHEKVGPCCVRLEQAYLQTE...,1.92,8.0,0,0,1N1,0,in,in,18.5518,59.8744,54.6185,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False
6341,8388,LOK,Human,373,5owr,B,A,0.774,1.967,GELG____GKVYKAAAKVIDYIVEIEILATCDPYIVKLLGAWIMIE...,2.30,6.4,4,20,1N1,0,in,in,0.0000,0.0000,0.0000,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False
6342,8384,LOK,Human,373,5owr,A,A,0.774,1.967,GELG____GKVYKAAAKVIDYIVEIEILATCDPYIVKLLGAWIMIE...,2.30,6.4,4,20,1N1,0,in,in,0.0000,0.0000,0.0000,True,True,False,False,False,True,True,False,False,False,False,False,False,False,False
6399,5608,MST3,Human,380,4qms,B,A,0.775,2.091,EKIGKGSFGEVFKVAIKIIDIQQEITVLSQCDPYVTKYYGSWIIME...,1.88,8.0,0,0,1N1,0,in,in,18.6599,61.7125,35.1938,True,True,True,False,False,True,True,False,False,False,False,False,False,False,False

In [63]:
local.structures.from_ligand_pdbs(["PRC", "1N1"])

,species.klifs,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.pdb,ligand.pdb_allosteric,structure.rmsd1,structure.rmsd2,structure.qualityscore,kinase.pocket,structure.resolution,structure.missing_residues,structure.missing_atoms,structure.ifp,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v,kinase.name_all,kinase.family,kinase.group,ligand.name,ligand.name_allosteric,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.4,4,0,0000000000000010000001000000000000000000000000...,0,0,1,1,0,0,0,0,0,0,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
2,Mouse,ABL1,1fpu,-,A,PRC,-,0.925,2.319,8.8,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,8,0000000000000010000000000000000000000000000000...,0,0,1,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainA
3,Mouse,ABL1,1fpu,-,B,PRC,-,0.925,2.329,9.2,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,4,0000000000000010000000000000000000000000000000...,0,0,0,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainB

### Structures from kinase name(s)

In [64]:
remote.structures.from_kinase_names("X")

Empty DataFrame
Columns: [structure.id, kinase.name, species.klifs, kinase.id, structure.pdb, structure.alternate_model, structure.chain, structure.rmsd1, structure.rmsd2, kinase.pocket, structure.resolution, structure.qualityscore, structure.missing_residues, structure.missing_atoms, ligand.pdb, ligand.name_allosteric, structure.dfg, structure.ac_helix, structure.grich_distance, structure.grich_angle, structure.grich_rotation, structure.front, structure.gate, structure.back, structure.fp_i, structure.fp_ii, structure.bp_i_a, structure.bp_i_b, structure.bp_ii_in, structure.bp_ii_a_in, structure.bp_ii_b_in, structure.bp_ii_out, structure.bp_ii_b, structure.bp_iii, structure.bp_iv, structure.bp_v]
Index: []

In [65]:
local.structures.from_kinase_names("X")

Empty DataFrame
Columns: [species.klifs, kinase.name, structure.pdb, structure.alternate_model, structure.chain, ligand.pdb, ligand.pdb_allosteric, structure.rmsd1, structure.rmsd2, structure.qualityscore, kinase.pocket, structure.resolution, structure.missing_residues, structure.missing_atoms, structure.ifp, structure.fp_i, structure.fp_ii, structure.bp_i_a, structure.bp_i_b, structure.bp_ii_in, structure.bp_ii_a_in, structure.bp_ii_b_in, structure.bp_ii_out, structure.bp_ii_b, structure.bp_iii, structure.bp_iv, structure.bp_v, kinase.name_all, kinase.family, kinase.group, ligand.name, ligand.name_allosteric, structure.dfg, structure.ac_helix, filepath]
Index: []

In [66]:
remote.structures.from_kinase_names(["BMX", "ABL1"])

,structure.id,kinase.name,species.klifs,kinase.id,structure.pdb,structure.alternate_model,structure.chain,structure.rmsd1,structure.rmsd2,kinase.pocket,structure.resolution,structure.qualityscore,structure.missing_residues,structure.missing_atoms,ligand.pdb,ligand.name_allosteric,structure.dfg,structure.ac_helix,structure.grich_distance,structure.grich_angle,structure.grich_rotation,structure.front,structure.gate,structure.back,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v
6597,1056,ABL1,Human,392,3qrk,,A,0.925,2.299,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.30,8.0,0,0,9DP,0,out,out,18.3262,60.5686,8.668280,False,True,True,False,False,True,True,False,False,False,True,False,True,False,True
6598,1109,ABL1,Human,392,2hz0,B,B,0.923,2.167,HKL______EVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.10,5.8,7,14,GIN,0,out,out,0.0000,0.0000,0.000000,True,True,True,False,False,False,True,False,False,False,True,False,True,True,False
6599,1104,ABL1,Human,392,1opl,,A,0.832,2.131,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,3.42,8.0,0,0,P16,0,out-like,in,16.8695,55.5434,0.538184,True,True,True,False,False,True,True,False,False,False,False,False,False,False,False
6600,1106,ABL1,Human,392,2g2h,,A,0.857,2.127,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.00,8.0,0,0,P16,0,out-like,in,17.0735,56.3393,1.798820,True,True,True,False,False,True,True,False,False,False,False,False,False,False,False
6601,1092,ABL1,Human,392,2hyy,,A,0.925,2.306,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,7.7,0,19,STI,0,out,out,18.5848,63.0443,17.940800,True,True,True,False,False,True,True,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10518,10645,ABL1,Mouse,532,6hd4,A,A,0.924,2.315,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.03,7.6,0,0,STI,FYW,out,out,18.6966,62.7709,12.114300,True,True,True,False,False,True,True,False,False,False,True,False,False,True,False
10519,5734,ABL1,Mouse,532,3k5v,A,A,0.924,2.310,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,1.74,7.6,0,0,STI,STJ,out,out,18.7011,62.8702,12.680900,True,True,True,False,False,True,True,False,False,False,True,False,False,True,False
10520,5735,ABL1,Mouse,532,2z60,,A,0.778,2.134,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIIIE...,1.95,8.0,0,0,P3Y,0,in,in,17.1422,58.8271,21.048700,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False
10521,5705,ABL1,Mouse,532,1fpu,,B,0.925,2.329,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.40,9.2,0,4,PRC,0,out,out,15.3329,51.0939,49.228900,True,True,True,False,False,False,True,False,False,False,True,False,False,False,False
10522,5737,ABL1,Mouse,532,3dk3,B,B,0.837,2.142,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.02,8.8,0,12,SX7,0,out-like,in,16.9310,57.3300,10.623500,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [67]:
local.structures.from_kinase_names(["BMX", "Abl1"])  # ABL1

,species.klifs,kinase.name,structure.pdb,structure.alternate_model,structure.chain,ligand.pdb,ligand.pdb_allosteric,structure.rmsd1,structure.rmsd2,structure.qualityscore,kinase.pocket,structure.resolution,structure.missing_residues,structure.missing_atoms,structure.ifp,structure.fp_i,structure.fp_ii,structure.bp_i_a,structure.bp_i_b,structure.bp_ii_in,structure.bp_ii_a_in,structure.bp_ii_b_in,structure.bp_ii_out,structure.bp_ii_b,structure.bp_iii,structure.bp_iv,structure.bp_v,kinase.name_all,kinase.family,kinase.group,ligand.name,ligand.name_allosteric,structure.dfg,structure.ac_helix,filepath
0,Human,BMX,3sxr,-,A,1N1,-,0.839,1.967,6.4,KELGS____VVKLVAVKMIEFFQEAQTMMKLSPKLVKFYGVYIVTE...,2.4,4,0,0000000000000010000001000000000000000000000000...,0,0,1,1,0,0,0,0,0,0,0,0,[BMX],Tec,TK,N-(2-CHLORO-6-METHYLPHENYL)-2-({6-[4-(2-HYDROX...,-,out-like,in,KLIFS_download/HUMAN/BMX/3sxr_chainA
2,Mouse,ABL1,1fpu,-,A,PRC,-,0.925,2.319,8.8,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,8,0000000000000010000000000000000000000000000000...,0,0,1,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainA
3,Mouse,ABL1,1fpu,-,B,PRC,-,0.925,2.329,9.2,HKLGGGQYGEVYEVAVKTLEFLKEAAVMKEIKPNLVQLLGVYIITE...,2.4,0,4,0000000000000010000000000000000000000000000000...,0,0,0,1,0,0,0,1,0,0,0,0,"[Abl1, ABL1]",Abl,TK,N-[4-METHYL-3-[[4-(3-PYRIDINYL)-2-PYRIMIDINYL]...,-,out,out,KLIFS_download/MOUSE/ABL1/1fpu_chainB

## Bioactivities

In [68]:
remote.bioactivities.from_ligand_ids(1000000)

Ligand ID [1000000]: Expected type to be dict for value [400, 'KLIFS error: Could not find a ligand with the provided ID.'] to unmarshal to a <class 'abc.Error'>.Was <class 'list'> instead.

In [69]:
remote.bioactivities.from_ligand_ids([50, 51])

,kinase.pref_name,kinase.uniprot,species.chembl,ligand.bioactivity_type,ligand.bioactivity_relation,ligand.bioactivity_value,ligand.bioactivity_units,ligand.bioactivity_value_pchembl,ligand.id (query)
0,Dual specificity protein kinase CLK3,P49761,Homo sapiens,IC50,=,29.2,nM,7.54,50
1,Dual specificty protein kinase CLK1,P49759,Homo sapiens,IC50,=,8.9,nM,8.05,50
2,Glycogen synthase kinase-3 beta,P49841,Homo sapiens,IC50,=,210.0,nM,6.68,50
3,Glycogen synthase kinase-3 beta,P49841,Homo sapiens,IC50,=,140.0,nM,6.85,50
4,"Interferon-induced, double-stranded RNA-activa...",P19525,Homo sapiens,IC50,=,1600.0,nM,5.80,50
5,Vascular endothelial growth factor receptor 2,P35968,Homo sapiens,IC50,=,32.0,nM,7.50,50
6,Vascular endothelial growth factor receptor 2,P35968,Homo sapiens,IC50,=,32.0,nM,7.50,50
7,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,340.0,nM,6.47,51
8,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,5.0,nM,8.30,51
9,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,5.0,nM,8.30,51
10,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,5.0,nM,8.30,51
11,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,340.0,nM,6.47,51
12,Ribosomal protein S6 kinase alpha 3,P51812,Homo sapiens,IC50,=,5.0,nM,8.30,51
13,Ribosomal protein S6 kinase alpha-3,P18654,Mus musculus,EC50,=,340.0,nM,6.47,51

## Interactions

### Interaction types

In [70]:
remote.interactions.interaction_types

  interaction.position                  interaction.name
0                    1                    Apolar contact
1                    2             Aromatic face-to-face
2                    3             Aromatic edge-to-face
3                    4     Hydrogen bond donor (protein)
4                    5  Hydrogen bond acceptor (protein)
5                    6     Protein cation - ligand anion
6                    7     Protein anion - ligand cation

### All interactions

In [71]:
remote.interactions.all_interactions()

      structure.id                            interaction.fingerprint
0                1  0000000000000010000000000000000000000000000000...
1                3  0000000000000010000000000000000000000000000000...
2                5  0000000000000010000000000000000000000000000000...
3                6  0000000000000010000001000000000000000000000000...
4                7  0000000000000010001001000000000000000000000000...
...            ...                                                ...
9594         12701  0000000000000010000001000000100000010000000000...
9595         12702  0000000000000010000001000000100000010000000000...
9596         12703  0000000000000010000001000000000000010000000000...
9597         12708  0000000000000000000000000000000000000000000000...
9598         12709  0000000000000000000000000000000000000000000000...

[9599 rows x 2 columns]

In [72]:
local.interactions.all_interactions()

NotImplementedError: Implement in your subclass!

### Interactions from structure IDs

In [ ]:
remote.interactions.from_structure_ids(1000000)

In [ ]:
remote.interactions.from_structure_ids([33, 34])

### Interactions from ligand IDs

In [ ]:
remote.interactions.from_ligand_ids(10000000)

In [ ]:
remote.interactions.from_ligand_ids([33, 34])

### Interactions from kinase IDs

In [ ]:
remote.interactions.from_kinase_ids(100000000)

In [ ]:
remote.interactions.from_kinase_ids([22])